.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.productCard {
  max-width: 300px;
  margin: 3rem 1rem;
}

.purchaseButtons {
  display: flex;
  justify-content: space-around;
}

.rating {
  margin-bottom: 2rem;
}

.title {
  margin-top: 2rem;
}
