.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  position: relative;
}

.imageAndInfo {
  display: flex;
  align-items: center;
}

.info {
  margin-left: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.price {
  font-weight: var(--bold);
  font-size: 1.2rem;
}

.quantity {
  font-weight: var(--thin);
}

.closeBtn {
  align-self: flex-start;
}

.closeBtn:hover {
  color: var(--accent-color);
}
