/* color pallete: https://colorhunt.co/palette/08d9d6252a34ff2e63eaeaea */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-fam);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* span {
  font-family: var(--font-fam);
}

:root {
  font-size: 16px;
  /* --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418; */
  --primary-color: #08d9d6;
  --secondary-color: #252a34;
  --accent-color: #ff2e63;
  --tertirary-color: #eaeaea;
  --transition-speed: 400ms;
  --font-fam: "Roboto", sans-serif;
  --thin: 100;
  --regular: 400;
  --bold: 700;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
